.mypy_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzwy 
.pytest_cache
.env
coverage.json
.coverage
testwriter_output
__pycache__
.DS_Store
.cursorrules
.viz_pos.json
coverage.xml
logs